<div class="p-4">
  <div class="text-muted-foreground space-x-1 text-xs font-medium">
    <a class="hover:text-primary">Tickets prioritarios!</a>
    <span class="text-foreground">{{ tickets.length }}</span>
  </div>

  <!-- Tabla -->
   <div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <div class="overflow-x-auto">
    <table class="text-muted-foreground table w-full table-auto border-collapse border-0 text-left align-middle leading-5">
      <thead class="border-muted/20 text-muted-foreground border text-xs">
        <tr>
          <th class="py-3 px-4 font-medium">ID</th>
          <th class="py-3 px-4 font-medium">TÍTULO</th>
          <th class="py-3 px-4 font-medium">EMPRESA</th>
          <th class="py-3 px-4 font-medium">ESTADO</th>
          <th class="py-3 px-4 font-medium">PRIORIDAD</th>
          <th class="py-3 px-4 font-medium">CATEGORÍA</th>
          <th class="py-3 px-4 font-medium">FECHA GENERADO</th>
          <th class="py-3 px-4 font-medium">VENDEDOR</th>
          <th class="py-3 px-4 font-medium">OBSERVACIONES</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr *ngFor="let ticket of tickets" class="border-b">
          <td class="py-3 px-4">{{ ticket.id }}</td>
          <td class="py-3 px-4">{{ ticket.titulo }}</td>
          <td class="py-3 px-4">{{ ticket.empresa }}</td>

          <!-- Estado -->
          <td class="py-3 px-4">
            <span class="border rounded px-2 py-1 text-sm w-auto min-w-[120px] max-w-full select-custom"
            [ngClass]="getStatusClass(ticket.status)">
              {{ ticket.status }}
            </span>
          </td>

          <!-- Prioridad -->
          <td class="py-3 px-4">
            <span class="border rounded px-2 py-1 text-sm w-auto min-w-[120px] max-w-full select-custom"
            [ngClass]="getPrioridadClass(ticket.prioridad)">
              {{ ticket.prioridad }}
            </span>
          </td>

          <!-- Categoría -->
          <td class="py-3 px-1 text-right">
            <span class="border rounded px-2 py-1 text-sm w-auto min-w-[120px] max-w-full"
            [ngClass]="getCategoria(ticket.categoria)">
              {{ ticket.categoria }}
            </span>
          </td>

          <td class="py-3 px-4">{{ ticket.fecha_generado }}</td>
          <td class="py-3 px-4">{{ ticket.username }}</td>
          <td class="py-3 px-4">{{ ticket.observaciones }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
