<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- End Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <div app-tabla-principal [nft]="nft[0]" class="md:col-span-2"></div>
  </div>

  <!-- Separador -->
  <div class="my-8"></div>

  <!-- Gráficas en columnas de dos -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="p-4 bg-white rounded-lg shadow-md">
      <app-graphic></app-graphic>
    </div>
    <div class="p-4 bg-white rounded-lg shadow-md">
      <app-informecp></app-informecp>
    </div>
</div>
